################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

android-BabyReminder/bin
android-BabyReminder/gen
